.mainContainerPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -40px;
}

.msg {
  padding-top: 7px;
  margin-right: 0px;
  margin-left: -40px;
}
.messagesHelp {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 60px;
  margin-top: 60px;
}
.iconMessages {
  width: 60px;
  display: inline;
}
.messages {
  display: inline;
  padding-left: 20px;
}

.iconHelp {
  width: 42px;
  display: inline;
}
.help {
  display: inline;
  padding-left: 20px;
}
.sos {
  margin-left: 100px;
}

.calendarAndBookings {
  margin-top: 50px;
}
.futureBooking1 {
  position: relative;
  width: 280px;
  height: 45px;
  border-radius: 48px;
  background: linear-gradient(0deg, #608ee9 0%, #608ee9 100%), #b5dbff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: 0px;
  font-weight: bolder;
  font-size: 20px;
}
.pastBooking1 {
  position: relative;
  width: 280px;
  height: 45px;
  border-radius: 48px;
  background: linear-gradient(
      0deg,
      rgba(96, 142, 233, 0.33) 0%,
      rgba(96, 142, 233, 0.33) 100%
    ),
    rgba(181, 219, 255, 0.56);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: 0px;
  font-weight: bolder;
  font-size: 20px;
}

.pastBooking2 {
  position: relative;
  width: 280px;
  height: 45px;
  border-radius: 48px;
  background: linear-gradient(
      0deg,
      rgba(96, 142, 233, 0.33) 0%,
      rgba(96, 142, 233, 0.33) 100%
    ),
    rgba(181, 219, 255, 0.56);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: 0px;
  font-weight: bolder;
  font-size: 20px;
}
.bookingsection {
  display: flex;
  flex-direction: column;
}
.calendarAndBookings {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 80px;
}
.calendar {
  height: 300px;
  margin-top: 40px;
}

.plus1 {
  display: block;
  height: 20px;
  margin-top: 10px;
  padding-left: 130px;
}

.plus2 {
  display: block;
  height: 20px;
  margin-top: 10px;
  padding-left: 130px;
}

.bookingsection {
  margin-top: -40px;
}

.reviews {
  margin-top: 50px;
}
