#centerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signUpForm {
  border-radius: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #f1eeee;
  display: flex;
  max-width: 560px;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #020202;
  font-weight: 400;
  line-height: 100%;
  padding: 55px 55px;
  margin-top: 2.2rem;
  margin-bottom: 1.2rem;
}

.signUpPic {
  width: 225px;
  margin-bottom: 0.7rem;
}

.letMeLive {
  background-color: transparent;
  display: inline-block;
  font-size: 16px;
}

.letMeLive2 {
  background-color: transparent;
  display: inline-block;
  font-size: 16px;
}

.leaveMeAlone {
  background-color: transparent;
  display: inline-block;
}

.formP {
  background-color: transparent;
  display: inline-block;
  font-size: 16px;
  color: grey;
}

.tspp {
  font-weight: 700;
  color: black;
}

.login {
  color: var(--primaryTeal);
  font-weight: 700;
}

h2 {
  font-size: 32px;
  margin-bottom: 2.1rem;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

#nameInput,
#emailInput,
#passInput {
  border-radius: 8px;
  border: 1px solid #fff;
  background: #fff;
  width: 300px;
  height: 25px;
  padding: 8px 16px;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 16px;
}

.signUpButton {
  background-color: var(--primaryTeal);
  color: white;
  height: 42px;
  width: 120px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  align-self: center;
}

.disabledButton {
  background-color: gray;
  color: white;
  height: 42px;
  width: 120px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  align-self: center;
}
