#services-box {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    width: 1200px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #E7E7E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.servHeader {
    font-size: 30px;
}

.mlSpan {
    color: var(--secondaryBlue);
}

.mlSpan2 {
    color: var(--primaryTeal);
}

.mlSpan3 {
    color: var(--secondaryBlue);
}

.leftText {
    display: flex;
    width: 806px;
    height: 368px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.aboutUsIcon {
    position: absolute;
    width: 20%;
}

.hSHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servDesc {
    background-color: transparent;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 20px;
}

#members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    width: 1200px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aboutButton {
    background-color: var(--primaryTeal);
    color: white;
    height: 42px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    align-self: center;
    margin-top: 1.25rem;
}