.mainContainerResults {
  background-color: #f1eeee;
  width: 950px;
  height: 900px;
  border-radius: 28px;
  z-index: 1;
  margin-top: 40px;
  margin-left: 55px;
  flex-direction: column;
  align-items: center;
}
.mainDivResults {
  position: relative;
}

.petsittersIslandTitle {
  padding-top: 40px;
  margin-left: 0px;
  font-size: 45px;
  color: rgb(133, 131, 131);
}
