#services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    width: 1200px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #E7E7E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.servicesCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.findSitter, .getInTouch, .enjoyYourTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 48px;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hSHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servDesc {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.helpButton {
    background-color: var(--primaryTeal);
    color: white;
    height: 42px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    align-self: center;
    margin-top: 1.25rem;
}