.futureBooking1 {
    position: relative;
    width: 280px;
    height: 45px;
    border-radius: 48px;
    background: linear-gradient(0deg, #608ee9 0%, #608ee9 100%), #b5dbff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: 0px;
    font-weight: bolder;
    font-size: 20px;
  }
  .futureBooking1:hover {
    box-shadow: rgba(154, 154, 204, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }