@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryTeal: #5bc0be;
  --secondaryBlue: #608ee9;
  --customGrey: #d9d9d9;
}

html {
  background-color: white;
  width: 1920px;
  height: 1080px;
}
* {
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
}
