.mainContainerContactUs {
  width: 1790px;
  height: 920px;
  margin-left: 55px;
  margin-top: 60px;
  border-radius: 48px;
  background: #e7e7e7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
  display: flex;
  margin-top: 50px;
}

.containerRightContactUs {
  margin-top: 80px;
  width: 600px;
  height: 780px;
  background-color: #fff;
  border-radius: 48px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 30px;
}

.mrEars {
  width: 1000px;
  margin-top: -30px;
}

.allEars {
  font-size: 80px;
  margin-left: 160px;
  margin-top: 90px;
}
.contactUsTextIcon {
  margin-top: 15px;
  display: flex;
}
.chatIcon {
  width: 80px;
  height: 70px;
  margin-left: 40px;
  margin-top: 30px;
}

.textAreaContactUs {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  margin-left: 55px;
}
.contactUsTitle {
  margin-left: 60px;
  font-size: 60px;
}

.contactUsTitlesSmall {
  font-size: 30px;
  color: #828282;
}

.input1and2 {
  border-radius: 8px;
  border: 1px solid #000000;
  background: #fff;
  width: 460px;
  height: 30px;
  padding: 8px 16px;
  align-items: center;
  gap: 16px;
}

.input3 {
  border-radius: 8px;
  border: 1px solid #000000;
  background: #fff;
  width: 460px;
  height: 150px;
  padding: 8px 16px;
  align-items: start;
  gap: 16px;
}

.sendMessage {
  position: relative;
  width: 250px;
  height: 55px;
  border-radius: 48px;
  background: linear-gradient(0deg, #608ee9 0%, #608ee9 100%), #b5dbff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: 0px;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 36px;
  margin-left: 175px;
}
.sendMessage:hover{
  box-shadow: rgba(154, 154, 204, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}